{% extends 'main.html' %}
{% load static %}
{%block title%}Analytics{%endblock%}
{% block content %}
{% if user.is_staff or user.is_superuser%}
<div class="analytic-container">
    <div class="user">
        <div>
            <img id="profile-pic" src="{{request.user.profile.url}}" />
        </div>
        <div>
            <h2 id="greet">Good Morning, {{ user.first_name }} {{ user.last_name}}! </h2>
            <p>Here's how your dashboard looks like today!</p>
        </div>
    </div>
    <div class="stats-data">
        <div id="column">
            <div class="stats">
                <div id="total">
                    <div>
                        <div id="ttotal">
                        </div>
                        <p>Total Leads</p>
                    </div>
                    <h1>📊</h1>
                </div>
                <div id="hot">
                    <div>
                        <div id="hhot">
                        </div>
                        <p>Hot Leads</p>
                    </div>
                    <h1>🔥</h1>
                </div>
            </div>

            <div class="stats">
                <div id="med">
                    <div>
                        <div id="mmed">
                        </div>
                        <p>Medium Leads</p>
                    </div>
                    <h1>👍</h1>
                </div>
                <div id="gre">
                    <div>
                        <div id="ggre">
                        </div>
                        <p>Grey Leads</p>
                    </div>
                    <h1>👎</h1>
                </div>
            </div>
            <div class="graph">
                <div id="graph-element">
                    <h2>Lead Statistics</h2>
                    <div id="select-days">
                        <select name="days" id="day">
                            <option value="Last 7 days">Last 7 days</option>
                            <option value="Last Week">Last Week</option>
                            <option value="Last Month">Last Month</option>
                        </select>
                    </div>
                </div>
                <div class="wrapper">
                    <canvas id="myChart4"></canvas>
                </div>
            </div>
        </div>
        <div class="analytics-table">
            <table id="analytic-data-table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Full Name</th>
                        <th>Leads Converted</th>
                    </tr>
                </thead>
                <tbody id="analytics-body">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{% static 'js/analytics.js' %}">
</script>
{% endif %}
{% endblock %}