{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="login-container">
    <div class="div-welcome">
        <h1>Welcome to Your Dashboard</h1>
        <div>
            <p>This is the homepage of lead</p>
            {% if page == 'login' %}
            <P>management system, login now to begin</P>
            {% else %}
            <P>management system, Register now</P>
            {% endif %}
        </div>
        <div>
            <img src="{% static 'authentication/images/dashboard.jpg' %}" alt="random" width="500" height="450">
        </div>
    </div>
    {% if page == 'login' %}
    <div class="div-form">
        <h3>Login into your account</h3>
        <form method="POST" action="">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Enter email address" /><br>
            <input type="password" name="password" placeholder="Enter password" /><br>
            <button type="submit">Login now</button>
        </form>
        <div style="padding: 0px 120px;">
            <p>New here? <a href="{% url 'register' %}">Register now</a></p>
        </div>
    </div>
    {% else %}
    <div class="div-form">
        <h3>Register a new account</h3>
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field }}<br>
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
            <button type="submit">Sign up</button>
        </form>
        <div style="padding: 0px 120px;">
            <p>Already Have an account? <a href="{% url 'login' %}">Login Now</a></p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}