{% extends 'main.html' %} {% load static %} {%block title%}Login{%endblock%}
{% block content %}
<div class="authenticate-container">
    <div class="div-welcome">
        <div>
            <h1>Welcome to Your Dashboard</h1>
        </div>
        <div>
            <span>This is the homepage of lead management system, login now to begin</span>
        </div>
        <div>
            <img src="{% static 'images/dashboard1.svg' %}" alt="random" width="500" height="450">
        </div>
    </div>
    <div class="div-form">
        <div>
            <div>
                <h3>Login into your account</h3>
            </div>
            <div>
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <input type="email" name="email" placeholder="Enter email address" required /><br>
                    <input type="password" name="password" placeholder="Enter password" required /><br>
                    <button type="submit" id="logreg">Login now</button>
                </form>
                <div>
                    <p>New here? <a href="{% url 'register' %}">Register now</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}